* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(153, 255, 205);
}


/* GRID LAYOUT */

.padre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 120% 5%;
    gap: 0px 0px;
    grid-template-areas: "header" "main" "footer";
    width: 100%;
}

.header {
    grid-area: header;
}

.mainIndex {
    grid-area: main;
}

.mainsucursales {
    grid-area: main;
}

.footer {
    grid-area: footer;
    margin-bottom: 10px;
    display: inline;
    position: relative;
    top: 100px;
    background-color: rgb(255, 245, 109);
    color: black;
}


/*BARRA NAV EN COMUN */

.header nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: flex-end;
    width: 100%;
}

.header nav>ul>li {
    width: 30%;
}

.header nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0px;
}

.submenu {
    background-color: rgb(163, 162, 162);
    position: absolute;
    list-style: none;
}

.submenu li a {
    display: none;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu li a {
    display: block;
}


/*FIN BARRA NAV*/


/*HEADER*/

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 162, 162);
    height: 150px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.nombre {
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-left: 200px;
}


/*FIN HEADER*/


/*MAIN*/

.subtitulo {
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-left: 400px;
}

.titular {
    font-family: 'lato', sans-serif;
    border-radius: 15px;
    color: black;
    background-color: rgb(255, 245, 109);
    line-height: 1.4;
    text-align: justify;
    padding: 25px;
    font-size: 20px;
    margin-top: 100px;
}


/*GRID REQUISITOS*/

.secreq {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: auto;
    align-items: baseline;
    grid-template-areas: "titulo titulo" "listado imgReq";
    align-items: center;
    grid-row-gap: 20px;
    padding-top: 20px;
}

.tituloreq {
    grid-area: titulo;
    font-family: 'lato', sans-serif;
    font-size: 30px;
}

.listareq {
    grid-area: listado;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    list-style-type: square;
    line-height: 1.7;
    margin-left: 30px;
}

.imagenreq {
    grid-area: imgReq;
    width: 900px;
    border-radius: 25px;
}


/*FIN GRID REQUISITOS*/


/*TABLA*/

.tituloTabla {
    font-family: 'lato', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-top: 60px;
}

.tabla {
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 30px;
}

.tabla tr th {
    width: 200px;
    height: 70px;
    color: black;
    border: solid;
}

.tabla tr td {
    width: 200px;
    height: 70px;
    color: black;
    border: solid;
}


/*GRID UBICACION*/

.secIndex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10px;
    align-items: baseline;
}

.ubicacion {
    display: grid;
    grid-template-areas: "ubi imgUbi";
    grid-column-gap: 10px;
    align-items: center;
}

.tituloUbi {
    grid-area: ubi;
    font-size: 30px;
    margin-left: 300px;
}

.imagenUbi {
    grid-area: imgUbi;
    width: 300px;
    height: 300px;
    margin-left: 400px;
    border: 2px dashed black;
}

.botonwsp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 30px;
    border-radius: 50px;
}


/*FIN GRID UBICACION*/


/* PAGE:SUCURSALES */

.h2Sucursales {
    text-align: center;
    font-size: 40px;
    font-family: 'lato', sans-serif;
    padding-bottom: 30px;
}

.cuadroSucursales {
    border-radius: 25px;
    border: solid;
    background-color: rgb(255, 245, 109);
    width: 100%;
    height: 1400px;
}

.h2sanjuan {
    font-family: 'lato', sans-serif;
    margin-left: 800px;
    font-size: 20px;
    padding-bottom: 20px;
}

.h2mza {
    margin-left: 100px;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'lato', sans-serif;
}

.imgSucu1 {
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    margin-left: 100px;
}

.imgSucu {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 300px;
    margin-left: 600px;
    border-radius: 25px;
    padding: 20px;
}


/*RESPONSIVE*/


/* INDEX MOBILE VERTICAL */

@media screen and (min-width:320px) and (max-width:478px) {
    body {
        background-color: blue;
    }
    /* GRID LAYOUT */
    .padre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 100% 5%;
        gap: 0px 0px;
        grid-template-areas: "header" "main" "footer";
        width: 100%;
    }
    .header {
        grid-area: header;
    }
    .mainIndex {
        grid-area: main;
    }
    .footer {
        font-size: 30px;
        height: 65px;
        grid-area: footer;
        display: inline;
        position: relative;
        background-color: rgb(255, 245, 109);
        color: black;
        margin-left: 10px;
    }
    .header {
        display: inline;
        background-color: rgb(163, 162, 162);
        height: 150px;
    }
    .header img {
        display: inline;
        width: 80px;
        height: 80px;
        border-radius: 25px;
    }
    .nombre {
        display: inline;
        font-family: 'lato', sans-serif;
        color: black;
        font-size: 40px;
        font-weight: bold;
        margin-left: 200px;
    }
    .header nav>ul {
        display: inline;
        list-style: none;
    }
    .header nav>ul>li {
        display: inline;
        padding: 0px;
    }
    .header nav>ul>li>a {
        display: inline;
        font-size: 23px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        padding: 0px;
        margin-left: 30px;
    }
    .mainIndex {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 5px;
    }
    .secreq {
        display: grid;
        grid-template-areas: "tituloreq " "listareq ";
        margin-right: 100px;
        margin-left: 2px;
        padding: 0px;
    }
    .tituloreq {
        grid-area: tituloreq;
        font-size: 40px;
    }
    .listareq {
        grid-area: listareq;
        font-size: 35px;
    }
    .imagenreq {
        visibility: hidden;
        grid-area: imgreq;
        width: 300px;
    }
    .titular {
        display: inline;
        margin-left: 1px;
        font-size: 22px;
        width: 1000px;
        height: 80px;
    }
    .secIndex {
        visibility: hidden;
    }
    .tituloTabla {
        font-family: 'lato', sans-serif;
        font-size: 30px;
        color: black;
        margin-left: 30px;
        margin-top: 50px;
    }
    .tabla {
        border: none;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 5px;
        margin-left: 50px;
        font-size: 30px;
    }
    .tabla tr th {
        width: 150px;
        height: 70px;
        color: black;
        border: solid;
    }
    .tabla tr td {
        width: 200px;
        height: 70px;
        color: black;
        border: solid;
    }
    .botonwsp {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin-left: 1000px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}


/*FIN RESPONSIVE INDEX MOBILE*/


/*SUCURSALES MOBILE VERTICAL*/

@media screen and (min-width:320px) and (max-width:478px) {
    .h2Sucursales {
        display: inline;
        font-family: 'lato', sans-serif;
        color: black;
        font-size: 22px;
        font-weight: bold;
        margin-left: 70px;
    }
    .cuadroSucursales {
        border-radius: 25px;
        border: solid;
        background-color: rgb(255, 245, 109);
        height: 600px;
        margin-top: 100px;
    }
    .h2sanjuan {
        display: inline;
        font-family: 'lato', sans-serif;
        margin-left: 20px;
        font-size: 25px;
        margin: 5px;
    }
    .h2mza {
        display: inline;
        margin-left: 20px;
        font-size: 25px;
        padding: 5px;
        margin: 5px;
        font-family: 'lato', sans-serif;
    }
    .imgSucu1 {
        visibility: hidden;
        display: flex;
        flex-direction: row-reverse;
        width: 400px;
        height: 200px;
        border-radius: 25px;
        margin-left: 100px;
    }
    .imgSucu {
        visibility: hidden;
        display: flex;
        flex-direction: row;
        width: 400px;
        height: 200px;
        margin-left: 200px;
        border-radius: 25px;
        padding: 20px;
    }
    .mainsucursales {
        height: auto;
    }
    .articleMza {
        height: 150px;
        padding: 5px;
    }
}


/*FIN MOBILE SUCURSALES*/


/*INDEX MOBILE LANDSCAPE*/

@media screen and (min-width: 479px) and (max-width: 1020px) {
    body {
        background-color: red;
    }
    .padre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 44% 5%;
        gap: 0px 0px;
        grid-template-areas: "header" "main" "footer";
        width: 100%;
    }
    .header {
        grid-area: header;
    }
    .mainIndex {
        grid-area: main;
        height: 600px;
    }
    .footer {
        font-size: 15px;
        grid-area: footer;
        margin-bottom: 2px;
        display: inline;
        position: relative;
        background-color: rgb(255, 245, 109);
        color: black;
        margin-left: 10px;
        padding-top: 25px;
    }
    .header {
        display: inline;
        background-color: rgb(163, 162, 162);
        height: 140px;
    }
    .header img {
        display: inline;
        width: 80px;
        height: 80px;
        border-radius: 25px;
    }
    .nombre {
        display: inline;
        font-family: 'lato', sans-serif;
        color: black;
        font-size: 40px;
        font-weight: bold;
        margin-left: 200px;
    }
    .header nav>ul {
        display: inline;
        list-style: none;
    }
    .header nav>ul>li {
        display: inline;
        padding: 0px;
    }
    .header nav>ul>li>a {
        display: inline;
        font-size: 23px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        padding: 0px;
        margin-left: 30px;
    }
    .titular {
        display: inline;
        margin-left: 1px;
        font-size: 22px;
        width: 1000px;
        height: 80px;
    }
    .imagenreq {
        width: 500px;
    }
    .tabla {
        visibility: hidden;
    }
    .ubicacion {
        visibility: hidden;
    }
    .botonwsp {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin-left: 1000px;
    }
}


/*RESPONSIVE LANSCAPE PAGE  SUCURSALES*/