                * {
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                }
                /* header */
                
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(189, 189, 189);
                    height: 200px;
                }
                
                .header nav>ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    align-items: flex-end;
                    width: 100%;
                }
                
                .header img {
                    width: 200px;
                    height: 200px;
                }
                
                .header nav>ul>li {
                    width: 20%;
                }
                
                .header nav>ul>li>a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                }
                
                .submenu {
                    background-color: blue;
                    position: absolute;
                }
                
                .submenu li a {
                    display: none;
                    padding: 15px;
                    color: #fff;
                    text-decoration: none
                }
                
                .menu li:hover .submenu li a {
                    display: block;
                }
                /* fin header */
                /* body */
                
                body {
                    background-color: rgb(153, 255, 205)
                }
                
                .titular {
                    font-family: 'lato', sans-serif;
                    border-radius: 15px;
                    color: black;
                    background-color: rgb(255, 245, 109);
                    line-height: 1.4;
                    text-align: justify;
                    padding: 15px;
                    font-size: 20px;
                    margin-top: 40px;
                }
                
                .estiloRequisitos {
                    font-family: 'lato', sans-serif;
                    padding-left: 30px;
                    list-style-type: square;
                    line-height: 1.7;
                }
                
                ul {
                    list-style-type: none;
                }
                
                .requisitos {
                    padding-top: 30px;
                    margin: 5px;
                    color: black;
                    font-size: 20px;
                    font-family: 'lato', sans-serif;
                }
                
                .imagenRequisitos {
                    position: relative;
                    top: 40px;
                    left: 250px;
                    width: 700px;
                }
                
                .botonwsp {
                    position: fixed;
                    width: 50px;
                    height: 50px;
                    bottom: 10px;
                    right: 30px;
                    border-radius: 50px;
                }
                
                .tituloTabla {
                    font-family: 'lato', sans-serif;
                    font-size: 20px;
                    color: black;
                    margin-left: 30px;
                    margin-top: 60px;
                }
                
                .tabla {
                    border: none;
                    text-align: center;
                    padding: 15px;
                    margin-top: 30px;
                }
                
                .tabla tr th {
                    width: 200px;
                    height: 70px;
                    color: black;
                    border: solid;
                }
                
                .tabla tr td {
                    width: 200px;
                    height: 70px;
                    color: black;
                    border: solid;
                }
                
                .imagenUbi {
                    width: 300px;
                    height: 300px;
                    margin-left: 1000px;
                    border: solid;
                    border-radius: 25px;
                    color: #fff;
                }
                
                .ubicacion {
                    margin-left: 1050px;
                    font-size: 20px;
                    margin-top: 10px;
                }
                /* fin body */
                /* footer */
                
                .footer {
                    margin-bottom: 10px;
                    display: inline;
                    position: relative;
                    top: 100px;
                    background-color: rgb(255, 245, 109);
                    color: black;
                    margin-left: 40px;
                }
                /* page:sobre nosotros */
                /* main */
                
                .h2sobreNos {
                    text-align: center;
                    font-family: 'lato', sans-serif;
                    font-size: 30px;
                    margin-top: 35px;
                    color: rgb(30, 56, 56);
                }
                
                a {
                    text-decoration: none;
                }
                
                fieldset {
                    border-radius: 25px;
                    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
                    border-color: rgb(255, 151, 113);
                    border: solid;
                    margin: 10px;
                    width: 100%;
                }
                /* main sobre nosotros */
                
                .tituloSection {
                    text-align: center;
                    font-style: oblique;
                    font-family: 'lato', sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    text-shadow: 2px 2px 2px coral;
                    margin-top: 50px;
                    padding: 15px;
                    color: rgb(30, 56, 56);
                    transition: font-size 2s;
                }
                
                .tituloSection:hover {
                    font-size: 50px;
                }
                
                .imagenesCard {
                    display: inline-block;
                    width: 15%;
                    margin-right: 100px;
                    margin-bottom: 20px;
                }
                
                .parrafoCard {
                    font-family: 'lato', sans-serif;
                    display: inline-block;
                    width: 55%;
                    margin-bottom: 40px;
                    font-size: 24px;
                    text-transform: capitalize;
                }
                /* page :contacto */
                
                .fieldsetcontacto {
                    background-color: rgb(255, 245, 109);
                }
                
                .tituloForm {
                    font-family: 'lato', sans-serif;
                    font-size: 20px;
                    padding: 15px;
                    font-weight: bold;
                }
                
                .label {
                    font-family: 'lato', sans-serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline;
                    width: 20px;
                    margin: 10px;
                    padding: 50px;
                    text-align: left;
                }
                
                .input {
                    display: inline;
                    margin: 10px;
                    width: 1000px;
                }
                
                .momentoContacto {
                    display: inline-block;
                    font-family: 'lato', sans-serif;
                    font-size: 20px;
                    margin: 20px;
                    padding: 15px;
                }
                
                .input2 {
                    display: inline-block;
                    width: 300px;
                }
                
                .opciones {
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                }
                
                .botonForm {
                    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
                }
                
                .botonForm {
                    margin: 10px;
                    padding: 15px 45px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    box-shadow: 0 0 20px #eee;
                    border-radius: 10px;
                    display: block;
                }
                
                .botonForm:hover {
                    background-position: right center;
                    color: #fff;
                    text-decoration: none;
                }
                /* page: preguntas frecuentes */
                
                .h2preguntasFrec {
                    font-family: 'lato', sans-serif;
                    font-size: 30px;
                    padding: 20px;
                    animation-duration: 2s;
                    animation-name: show;
                    animation-iteration-count: infinite;
                }
                
                @keyframes show {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                .recuadroPreg {
                    border: solid;
                    border-radius: 25px;
                    padding: 20px;
                    margin-top: 150px;
                }
                
                .itemlista {
                    display: inline-block;
                    height: 15px;
                    font-size: 30px;
                    padding: 20px;
                    font-weight: bold;
                    text-decoration: underline;
                }
                
                .itemlista:hover {
                    font-size: 40px;
                }
                
                ul p {
                    font-size: 29px;
                }
                
                ol li {
                    display: block;
                }
                /* page:sucursales */
                
                .cuadroSucursales {
                    border-radius: 25px;
                    border: solid;
                    background-color: rgb(255, 245, 109);
                    padding: 15px;
                    width: 100%;
                    height: 100%;
                }
                
                .h2Sucursales {
                    font-family: 'lato', sans-serif;
                    text-align: center;
                }
                
                .imgSucu {
                    position: relative;
                    width: 600px;
                    height: 300px;
                    margin: 10px 10px 10px 400px;
                    border-radius: 25px;
                }